<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/level.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
        <title>Congratulations! - {{ event|safe }}</title>
    </head>
    <body>
        <div class="finish-message">{{ message|safe }}<br>Congratulations, {{ user|safe }}!</div>
        <br>
        <div class="footer">&copy;&nbsp;{{ year|safe }}&nbsp;<a class="link-footer-ref" href="{{ social|safe }}" target="_blank">{{ host|safe }}</a>&nbsp;-&nbsp;<a class="link-footer-ref" href="/" target="_blank">home</a>&nbsp;-&nbsp;<a class="link-footer-ref" href="{{ faq|safe }}" target="_blank">faq</a>&nbsp;-&nbsp;<a class="link-footer-ref" href="{{ discuss|safe }}" target="_blank">forum</a>&nbsp;-&nbsp;<a class="link-footer-ref" href="/logout">logout</a></div>
    </body>
</html>
