<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login - {{ event|safe }}</title>
        <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
    </head>
    <body>
        <form class="login-form-container" method="post" action="/login{{ next|safe }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <span class="login-header">login</span><br><br>
            <div class="login-form">
                <div class="login-form-input">
                    <span class="login-item-text">username</span><br>
                    <input class="login-form-text-input" type="text" name="uname" title=" Must be unique, no spaces, all lower-case, 4 to 32 characters long." required><br>
                    <span class="login-item-text">password</span><br>
                    <input class="login-form-text-input" type="password" name="pword" title="Must contain a minimum pf four characters." pattern=".{4,}"><br>
                </div>
                <div class="login-form-submit"><input class="login-form-submit-button" type="submit" value="play"></div>
            </div>
        </form>
        {% if error == True %}<br><div id="login-error">{{ reason }}</div>{% endif %}
        <br>
        <div class="footer">&copy;&nbsp;{{ year|safe }}&nbsp;<a class="link-footer-ref" href="{{ social|safe }}" target="_blank">{{ host|safe }}</a>&nbsp;-&nbsp;<a class="link-footer-ref" href="/" target="_blank">home</a>&nbsp;-&nbsp;<a class="link-footer-ref" href="{{ faq|safe }}" target="_blank">faq</a>&nbsp;-&nbsp;<a class="link-footer-ref" href="{{ discuss|safe }}" target="_blank">forum</a>&nbsp;-&nbsp;<a class="link-footer-ref" href="/register" target="_blank">register</a></div>
    </body>
</html>
